
@{
    ViewBag.Title = "Add";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Styles.Render("~/Styles/MVCStyle.css")

</head>
<body>
    <h1 style="font-family:'Bradley Hand ITC'">Dodavanje nove grupe</h1>
    <h3 style="color:red">@ViewBag.message</h3>
    <form action="~/Trener/AddGroup" method="post">
        <table>
            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Naziv:</td>
                <td class="tableData"><input type="text" name="Naziv" placeholder="Unesite naziv" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Tip treninga:</td>
                <td class="tableData"><input type="text" name="TipTreninga" placeholder="Unesite tip treninga" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Naziv fitnes centra u kome se odrzava:</td>
                <td class="tableData"><input type="text" name="Fitnes_centar" placeholder="Unesite naziv centra" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Trajanje treninga:</td>
                <td class="tableData"><input type="text" name="TrajanjeTreninga" placeholder="Unesite trajanje treninga" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Datum treninga:</td>
                <td class="tableData"><input type="text" name="DatumTreninga" placeholder="Unesite datum treninga" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Vreme treninga:</td>
                <td class="tableData"><input type="text" name="VremeTreninga" placeholder="Unesite vreme kada pocinje" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Maksimalan broj posetioca:</td>
                <td class="tableData"><input type="number" name="MaxPosetioci" placeholder="Unesite maksimalan broj posetioca" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData" style="background-color:#490479;" colspan="2">
                    <input class="btn" style="width:100%; border:none;" type="submit" value="Dodaj" />
                </td>
            </tr>
        </table>
    </form>

</body>
</html>

