
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="~/RegLog/Login" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login" />
                <p style="color:red">@ViewBag.message</p>
            </td>
        </tr>
    </table>
</form>
