
@{
    ViewBag.Title = "Register";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Styles.Render("~/Styles/MVCStyle.css")

</head>
<body>
    <h2>Register</h2>
    <h3 style="color:red">@ViewBag.message</h3>



    <form action="Register" method="post">
        <table>
            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Korisnicko ime:</td>
                <td class="tableData"><input type="text" name="KorisnickoIme" placeholder="Unesite korisnicko ime" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Lozinka:</td>
                <td class="tableData"><input type="password" name="Lozinka" placeholder="Unesite lozinku" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Ime:</td>
                <td class="tableData"><input type="text" name="Ime" placeholder="Unesite ime" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Prezime:</td>
                <td class="tableData"><input type="text" name="Prezime" placeholder="Unesite prezime" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Pol:</td>
                <td class="tableData">
                    <input list="Pol" name="Pol" />
                    <datalist id="Pol">
                        <option value="MUSKI"></option>
                        <option value="ZENSKI"></option>
                    </datalist>
                </td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Email:</td>
                <td class="tableData"><input type="text" name="Email" placeholder="Unesite email" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData">Datum rodjenja:</td>
                <td class="tableData"><input type="text" name="DatumRodjenja" placeholder="dd/MM/yyyy" /></td>
            </tr>

            <tr class="tableRow" style="border:1px solid black;">
                <td class="tableData" style="background-color:#490479;" colspan="2">
                    <input class="btn" style="width:100%; border:none;" type="submit" value="Register" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>


