body {
    background-image: url("../Images/thumb-1920-387340.jpg");
    object-position:center;
    object-fit:contain;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

a {
    text-decoration:none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(34, 78, 59, 0.5);
    color: #fff;
    margin-bottom: 20px;
}

.nav-links a {
    color: #fff;
}
.logo {
    font-size: 32px;
}
.menu {
    display: flex;
    font-size: 24px;
    list-style: none;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

.navbg {
    background: rgba(101, 101, 101, 0.5)
}

#content{
    width:1080px;
    margin-left:34%;
    margin-right:auto;
}

.naslov {
    font-size: 48px;
    font-family: sans-serif;
    text-align: center;
    color: #d1feff
}

.styled-table {
    border-collapse: collapse;
    font-size: 1.3em;
    font-family: sans-serif;
    min-height: 300px;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 8px 11px;
    background-color: #a1c6c5;
}
.styled-table tbody tr {
    border-bottom: thin solid #000000;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #1de6c7;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

#sortBlock{
    align-content:center;
    
}
