body {
    background-image: url("../Images/thumb-1920-387340.jpg");

}

.naslov {
    font-size: 1.2em;
    font-family: sans-serif;
    text-align:center;
    color:#d1feff

}

.styled-table {
    border-collapse: collapse;
    margin-left: 40%;
    margin-right: 40%;
    position: absolute;
    font-size: 0.9em;
    font-family: sans-serif;
    min-height: 300px;
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 8px 11px;
    background-color: #a1c6c5;
}
.styled-table tbody tr {
    border-bottom: thin solid #000000;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #1de6c7;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}
